.expenses-filter {
  color: white;
  padding: 0 1rem;
}

.expenses-filter__control {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.625rem;
  /* align-items: center; */
  margin: 1rem 0;
}

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.expenses-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}

.expense-filter__year {
  display: flex;
  justify-content: space-between;
}

.expense-filter__category {
  display: flex;
  justify-content: space-between;
}

.category-filter {
  color: gray;
}